
-  The blue color outside the cell represents command mode.
-  And the green color indicates edit mode.
-  Press 'Esc' to get into command mode.
-  Press 'Enter' to go back into edit mode.
-  Press 'P' to view the list of all available commands.

In [ ]:
# This is a coding cell.
# Let's write your first Python program here.

Name = input("Enter your name: ")
print("Hello,", Name)

# Press 'Shift + Enter' to execute the cell.

# Basic Commands

Some of the useful commands that you require everyday while coding in the Jupyter notebook.

 #### Command Mode Shortcuts
-  `Esc`: To go into command mode
-  `Enter`: To go back to edit mode
-  `M`: To convert a cell to a markdown cell
-  `Y`: To convert a cell back to a code cell
-  `A`: To insert new cell above
-  `B`: To insert new cell below
-  `D + D`: To delete cell
-  `Z`: Undo last operation
-  `F`: To find and replace on your code
-  `Shift + Up/Down`: To select multiple cells
-  `Space`: Scroll notebook downwards
-  `Shift + Space`: Scroll notebook upwards

#### Edit Mode Shortcuts
-  `Shift + Enter`: To execute the code in the current cell and go to the next cell
-  `Alt + Enter`: To execute the code in the current cell and insert new cell below
-  `Shift + Tab`: To get a brief documentation of the object that you have just typed in the coding cell
-  `Ctrl + Shift + -`: To split the cell at cursor
-  `Shift + M`: To merge selected cells

Apart from this, you can also use `H` to open the list of keyboard shortcuts and even add new shortcuts or customize the existing shorcuts according to your personal requirements.

In [ ]:
# Writing comments in a code cell can sometimes creates confusion. Jupyter notebook works both as a notebook and a coding console. 
# To write explanatory texts, you can use a markdown cell which enables you to format your comments well to create a more readable code.

# Let's now learn about markdown cells.
# Press 'M' in command mode to convert a code cell to a Markdown cell.

This is a Markdown Cell. Double click on a markdown cell or press 'Enter' to see how it's written. And again, press 'Shift + Enter' to execute the cell.

Let's further learn about the various customizations in a markdown cell to create a more readable and understandable code.

# Single # makes a title
## Double ## makes a heading
### Triple # makes a subheading
#### 4 #'s makes a heading even smaller
##### 5 #'s makes text to Italic.

## Formatting in Markdown cells

### Emphasis

__"This will appear bold."__

**"So will this."**

_"Just one dash makes it italic."_

*"And one star on either side as well."*

***"This one's both bold and italic."***

### Monospace Fonts

Use a back single quotation mark (\`) to get monospace fonts.

`This text will appear in monospace font.`
`Python is a beautiful language.`

### Line Breaks

Sometimes in the markdown cells, you don't get a line break where you want simply by pressing enter. In such cases use `<br>` to get a manual line break.

I want a line break here.
But I don't get it. :/
<br>
So I used a manual line break <br>
There we go! :)

### Indenting

Use `>` to indent your text.

This is the first line
> This indents the second line.
>> This further indents it.
>>> And this goes on and on.

### Bullets and Numbering

-  A dash followed by two spaces, i.e. `'-  '` creates a bullet.
    -  Pressing a tab before doing the above creates a sub-bullet.

1. Start with a simple `1. ` (1 followed by a dot and a space) to get a numbered list.
2. And keep doing it for further numbers.
    1. Again, just a tab for the sub-bullet.

### Coloring
 
-  <font color = blue> This text will be blue. </font>
-  <font color = yellow> I hate this color! </font>

### Adding an Image

You can add an image from the web by using `<img src = "image_path">`

Example:
<img src = "https://blog.upgrad.com/wp-content/uploads/2016/06/logo.png">

### LaTeX Equations

Jupyter notebook also supports LaTeX equations. Use a `$` on either side to write a LaTeX equation.

The below example is just a hypothetical equation to explain how you can write LaTeX equations in Jupyter notebook. 
<br>

$(\frac{a_1}{a_2} + \frac{a_3}{a_4})^2 = a_5^3$

Go through this [link](https://en.wikibooks.org/wiki/LaTeX/Mathematics) if you want to learn the LaTeX syntax.

## Variables

In [ ]:
name = "mike"
print(name)

In [3]:
name = input("Enter your name : ")
print("Welcome", name)

Enter your name : Jane
Welcome Jane

## Data Types in Python

- Here in the below piece of code you can see that we have assigned each variable with a particular value and use the type method we can check the datatype of the variable

In [ ]:
integer_num = 1
floating_num = 1.3
string = 'Mike'
boolean = True

print (type(integer_num))
print (type(floating_num))
print (type(string))
print (type(boolean))

- Type Casting in Python

In [4]:
a = 1
print ( bool(a))
print ( float(a))
print ( str(a))

True
1.0
1

## Input( ) Function

<h4>input ():</h4> This function first takes the input from the user and converts it into a string. The type of the returned object always will be <type ‘str’>. It does not evaluate the expression it just returns the complete statement as String. For example, Python provides a built-in function called input which takes the input from the user. When the input function is called it stops the program and waits for the user’s input. When the user presses enter, the program resumes and returns what the user typed.

In [1]:
# Python program showing 
# a use of input()
  
val = input("Enter your value: ")
print(val)

Enter your value: pava
pava

<h4>raw_input():</h4> This function works in older version (like Python 2.x). This function takes exactly what is typed from the keyboard, converts it to string, and then returns it to the variable in which we want to store it.

In [3]:
# Python program showing
# a use of raw_input()
  
g = raw_input("Enter your name : ")
print(g)

NameError: name 'raw_input' is not defined

## Arithmatic Operations

In [5]:
a = 6
b = 7
print("Addition  = ", a + b)  
print("Substraction = ", a - b) 
print("Multiplication = ", a * b) 
print("Division = ", a / b)

Addition  =  13
Substraction =  -1
Multiplication =  42
Division =  0.8571428571428571

In [6]:
#Floor Division
print("Floor Division = ", a // b)

Floor Division =  0

In [7]:
#Remainder
print("Modulus or remainder",a % b)

Modulus or remainder 6

In [8]:
#Exponential
print("Exponential = ", a ** b)

Exponential =  279936

- Expression executes following the operator precedence rule
- https://docs.python.org/3.7/reference/expressions.html?#operator-precedence

In [ ]:
print((4 * 5) - 9 + 6 / 7)

## String Operations

In [9]:
#Whenever we are assigning a char or string we use '' which represents a character
c = 'z'
d = 'Mike'
#You can also use " " double quotes instead of single quotes for strings
e = "John"

#### Indexing In Strings <br>
- Forward indexing starts with 0
- Reverse indexing start with last character as -1 in a python string
- Strings are immutable which means they cannot be changed once created.
- Strings can be modified by slicing a part of it and concatenating with another

In [11]:
# Len() function
string = "ABCDEFGH"
len(string)

8

In [12]:
#Accessing first character
string[0]

'A'

In [13]:
#Accessing last character using negative indexing
string[-1]

'H'

In [14]:
# Trying to change the character at index 2
string[2] = 't'

TypeError: 'str' object does not support item assignment

In [ ]:
# Changing the entire string
string = 'ghijkl'
print (string)

In [15]:
#string concatenation

first_name = "Monty"
last_name = 'Python'

name = first_name + " " + last_name
print(name)

Monty Python

In [18]:
# type casting using str() function 
age = 30
print("I am "+ str(age) + " years old")

I am 30 years old

#### Slicing In Strings
- string[start:end:step]

In [12]:
#slicing by specifying start and end index
statement = "Python programming is fun"
sliced_statement = statement[0:7]
print(sliced_statement)

Python

In [16]:
batch = "5 girls 3 boys in a class"
girls = batch[ :8]
print(girls)

print(batch[ 8: ])

5 girls
3 boys in a class

In [30]:
# Slicing by specifing range

nums = '123456789'
even_nums = nums[1::2]
print(even_nums)

2468

In [31]:
# printing odd_nums
odd_nums = nums[0::2]
print(odd_nums)

13579

In [52]:
# Membership 
String = "John! Did you attend the conference on advanced machine learning"
print( 'John' in String)
print ( 'David' not in String)

True
True

In [54]:
# Repeatition

String = "abcd"
print (String*4)

abcdabcdabcdabcd

#### String methods
- upper()
- lower()
- strip()
- count(substring,begin,end)
- https://docs.python.org/3.7/library/stdtypes.html#string-methods

In [ ]:
# upper() 
small = "i am upper cased"
print(small.upper())

In [39]:
# lower() 
large = "I AM LOWER CASED"
print(large.lower())

i am lower cased

In [40]:
# rstrip () function
some_sentence = "There is a space at the end    "
print(some_sentence)
print(some_sentence.rstrip())

There is a space at the end
There is a space at the end

In [ ]:
increment = '4%'
print(increment.rstrip('%'))

In [41]:
# lstrip() function
start = "   There is space at the start"
print(start)
print(start.lstrip())

   There is space at the start
There is space at the start

In [42]:
# strip() function 
spaces = "   Trim whitespaces  "
print(spaces)
print(spaces.strip())

   Trim whitespaces
Trim whitespaces

In [57]:
num_with_chars = '******444#######'
print(num_with_chars.rstrip('#').lstrip('*'))

444

In [63]:
#count() Method
string = "This is a sample sentence"
print(string.count('i'))
print(string.count('i',5))

In [ ]:
My_age = "I am {} years old".format(age)

In [2]:
#r/R It is used to specify the raw string.% It is used to perform string formatting.

A = "Data"
B = "Analysis"
C = "Pandas"

print("{} {} using {}".format(A,B,C))

# Tuples

- Tuples are an ordered sequnce of mixed data types.
- Tuples are written as comma-separated  elements within parenthesis

In [ ]:
t = ("disco", 12, 4.5)
t

In [ ]:
type(t)

In [ ]:
t[0][3]= 't'

<h3> <span class="mark">Tuples</span> can be defined is various ways </h3>

#### A tuple can be defined without using parenthesis

In [ ]:
sample_tuple = 1,2,3,4

print(sample_tuple)

#### single value tuple

In [ ]:
sample_tuple = 1,  
print(sample_tuple)

In [ ]:
sample_tuple = (1,)  
print(sample_tuple)

In [ ]:
sample_tuple1 = 1   #This is not a tuple

In [ ]:
sample_tuple2 = (1) # This is not a tuple

### Indexing in tuples

In [ ]:
t = ("Mumbai", 84, "Python",)

In [ ]:
# gives the element at index location 1
t[1]

In [ ]:
# gives the last element from tuple
t[-1]

### Slicing

In [ ]:
# Slicing first 3 elements from t

t = ("Mumbai", 84, "Python", 5, 2, 1)

t[0:3]

In [ ]:
# Slicing last 2 elements from t

t = ("Mumbai", 84, "Python", 5, 2, 1)

t[-2:]

In [ ]:
# no. of elements in tuple t
t = ("Mumbai", 84, "Python", 5, 2, 1)
len(t)

#### Cancatenating tuples

In [ ]:
tup1 = ("This", "is", "Session", 2)
tup2 = ("on", "Tuples")

# Adding contents of tup2 to tup1 and storing in tup3

tup3 = tup1 + tup2

tup3

#### sum() - min() - max()

In [ ]:
t = (2, 4, 3, 5, 7)
sum(t)

In [ ]:
t = (2, 4, 3, 5, 7)
min(t)

In [ ]:
t = (2, 4, 3, 5, 7)
max(t)

### Immutability of tuples

In [ ]:
t = ("USA", 4, 3, "Disco", 7.5)

t[3] = "Hard Rock"

In [ ]:
new_t = t[0:3] + ("Hard Rock",) + t[4:]
new_t

### Sorting a tuple

In [ ]:
t = (2,3,6,4,8,5)

sorted(t)

In [ ]:
# Nested Tuples

t = (1,5,"Disco", ("Python", "Java"))

# Access "Java" from the nested tuple
t[3][1]

In [ ]:
d = {"India" : "INR", "USA" : "Dollars", "France" : "Euros", "USA" : "USD"}
d

### Packing and Unpacking In Tuples

In [ ]:
t = (1,2,3,4)     # Packing 
(a,b,c,d) = t     # Unpacking 
print (a)

#### dir() - to view the attributes or methods of an object

In [ ]:
t = ()
print(dir(t))

# Lists 

- Lists are an ordered sequnce of mixed data types.
- Lists are written as comma-separated  elements within square brackets

In [ ]:
L = ["India", 23, 6, "Mumbai"]

L

In [ ]:
# Nested List

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L

In [ ]:
# Indexing

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L[0]

In [ ]:
L[-3]

In [ ]:
# Slicing

L[0:3]

In [ ]:
# List Concatanetion

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
new_L = L + [5, 8]
new_L

In [ ]:
# Replace "Biology" with "Physics"

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L[1] = "Physics"

L

In [ ]:
# extend()

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
L.extend([5, 8])
L

In [ ]:
# append()

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
L.append([5, 8])
L

In [ ]:
# del Command

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
del L[0]
L

In [ ]:
# pop() 

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L.pop()

L

In [ ]:
# remove()

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L.remove("Chemistry")

L

In [ ]:
# Sorting Lists

l = [32, 24, 65, 9]
l.sort()
l

In [ ]:
l.sort(reverse= True)
l

#### Difference between sort and sorted

In [ ]:
A = ["Orange", "Strawberry", "Mango"]
B = A.sort()

print(A)
print(B)

In [ ]:
A = ["Orange", "Strawberry", "Mango"]
C = sorted(A)

print(A)
print(C)

#### Shallow Copying

In [ ]:
A = ["Orange", "Strawberry", "Mango"]
B = A

A[0] = "Apple"

In [ ]:
A

In [ ]:
B

In [ ]:
A = ["Orange", "Strawberry", "Mango"]
B = A[:]

A[0] = "Apple"

In [ ]:
A

In [ ]:
B

# Sets 

- Sets are a type of collection like lists and tuples, storing mixed data.
- Sets are enclosed within curly brackets and elements are written as comma-separated.
- Sets are unordered
- Sets does not allow duplicates

In [ ]:
l = [1,3,2,4,5,5]

set_l = set(l)

set_l

In [ ]:
len(set_l)

In [ ]:
a = {1, 2, 3, 4, 5}

a.add("India")

a

In [ ]:
a.add("India")
a

In [ ]:
a = {1, 2, 3, 4, 5, "India"}
a.remove("India")
a

In [ ]:
# Set Operations

A = {0, 2, 4, 6, 8}
B = {1, 2, 3, 4, 5}

In [ ]:
print(A | B) # Union

In [ ]:
print(A & B) # Intersection

In [ ]:
print(A - B) # Difference

In [ ]:
print(A ^ B) # Symmetric Difference

# Dictionaries 

- A dictionary stores element as keys and values pairs.
- The key is like an index, its is always unique and immutable. 
- The values are the objects that contain information.
- Values are accessed using their keys.
- Each key is followed by a value separated by a colon. 
- The values can be immutable, mutable, and duplicates. 
- Each key and value pair is separated by a comma enclosed inside curly brackets.

In [ ]:
# Creating a dictionary

d = {"India" : "INR", "USA" : "USD", "France" : "Euros"}

# Access value using keys

d["India"]

In [ ]:
# Replace the value for a key in a dictionary

d["India"] = "Rs"

d

In [ ]:
# Insert new key value pair into a dictionary

d["Japan"] = "Yen"

d

In [ ]:
# Deleting a key value pair

del d["France"]

d

In [ ]:
# Sorting a dictionary

sorted(d)

In [1]:
# Values() method

d = {"India" : "INR", "USA" : "USD", "France" : "Euros"}
d.values()

dict_values(['INR', 'USD', 'Euros'])

In [2]:
# Keys() method

d.keys()

dict_keys(['India', 'USA', 'France'])

In [3]:
# Updat() method

d.update({'India':'Rupee'})
d

{'India': 'Rupee', 'USA': 'USD', 'France': 'Euros'}

# Relational Operators</h2>

- compares the values on either side of the opeartor and returns and boolean value as True or False.

#### equal to operator

In [1]:
10 == 10

True

<h3 style = "color:Red">Alert!!!</h3>

##### = is an assignment operator, to assign value of an expression on right to a variable on left.

In [2]:
10 == 5

False

#### not equal to operator

In [3]:
10 != 5

True

#### greater than operator

In [4]:
10 > 5

True

#### less than operator

In [5]:
10 < 5

False

#### greater than equal to operator

In [6]:
10 <= 5

False

#### less than equal to operator

In [7]:
10 >= 5

True

## Decision Making

#### Write a program to check value in variable x is even or odd

In [10]:
x = 10

if x % 2 == 0:
    print(x, "is even number")
else:
    print(x, "is odd number")

10 is even number

#### Write a program to accept age of visitor and allows him to PM's party only if he is above 60 years or below 18 years of age

In [ ]:
x = int(input("Enter your age : "))

if x <= 18 or x >= 60 :
    print("Welcome to party")
else:
    print("Sorry!! you do not fit in PM's age criteria")

#### Write a program which offers various discounts on purchase bills

In [ ]:
shoppinng_total = 5500

if shoppinng_total >= 5000:
    print("You won a discount voucher of flat 1000 on next purchase")
elif shoppinng_total >= 2500:
    print("You won a discount voucher of flat 500 on next purchase")
elif shoppinng_total >= 1000:
    print("You won a discount voucher of flat 100 on next purchase")    
else:
    print("OOPS!! no discount for you!!!")

#### Write a program to accepts three numbers from user and print the largest of three numbers

In [17]:
world_cups = {2019 : ['England', 'New-Zeland'], 2015:["Australia", "New Zeland"], 2011 : ["India", "Sri Lanka"], 2007: ["Australia", "Sri Lanka"], 2003: ["Australia", "India"]}

year = int(input("Enter year to check India made it to Finals in 20th century : "))

if year in world_cups :
    if "India" in world_cups[year] :
        print("India made it to Finals")
    else:
        print("India could not make it to Finals")
        
else:
    print("World cup wasnt played in", year)

Enter year to check India made it to Finals: 2003
India made it to Finals

## Iteration

In [ ]:
# iterate over list of integers

l = [1,3,4,2,5,6]
for i in l : 
    print(i)

In [ ]:
# iterate over a string

string = "Himachal Pradesh"
for ch in string:
    print(ch)

In [ ]:
# iterate over a string - modify print using end

string = "Himachal Pradesh"
for ch in string:
    print(ch, end = ":") # default value of end = "\n"

In [19]:
# iterating over a dictionary

students_data = {1:['Sam', 24] , 2:['Sharma',25], 3:['Saina', 26], 4:['Saif',24], 5:['Varun',27]}
for key, val in students_data.items():
    print(key, val)

1 ['Sam', 24]
2 ['Sharma', 25]
3 ['Saina', 26]
4 ['Saif', 24]
5 ['Varun', 27]

In [21]:
# iterate over keys of a dictionary
for key in students_data.keys():
    print(key)

1
2
3
4
5

In [ ]:
# Generate range of values.
range(1, 101)

In [ ]:
# Iterate over range of values

for i in range(1, 101):
    print(i, end = " ")

In [4]:
# break in loop

for i in range(3):
    for j in range(2):
        if (j == 1):
            break
        print('J :',i,j)
    print('I :',i,j)

J : 0 0
I : 0 1
J : 1 0
I : 1 1
J : 2 0
I : 2 1

In [22]:
# different variations in range

range(1, 100, 2) # gives numbers from 1 to 100 with a step count of 2
range(100, 0, -1) # gives a reversed sequence of numbers from 100 to 1

range(100, 0, -1)

In [23]:
ch = ""
while ch != "quit":
    ch = input()
    print(ch)

x
x
abc
abc
quit
quit

In [24]:
while True:
    ch = input()
    if ch == "quit":
        break
    print(ch)

x
x
c
c
quit

Python Continue Statement skips the execution of the program block from after the continue statement and forces the control to start the next iteration.

In [3]:
x = 0
while x <=50 :
    x += 3
    if x % 5 == 0 :
        continue   
    print(x, end = " ")

3 6 9 12 18 21 24 27 33 36 39 42 48 51

In [1]:
# Single statement while block 
count = 0
while (count < 5): count +=1 ; print('Hi ',count)

Hi  1
Hi  2
Hi  3
Hi  4
Hi  5

## Comprehensions

In [22]:
l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

l2 = []

for i in l1 :
    l2.append(len(i))
    
l2

[11, 5, 4, 6, 14]

#### The Functional Approach

In [6]:
# Example on list comprehension

l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

# Create a list consisting of length of each element from the above list

l2 = [len(i) for i in l1]

print(l2)

[11, 5, 4, 6, 14]

In [7]:
# iterating over l1 and l2 simultaneaously

for i,j in zip(l1,l2):
    print(i, " - ", j)

automobiles  -  11
Honda  -  5
Benz  -  4
Suzuki  -  6
Morris Garages  -  14

#### Dictionary comprehension

In [9]:
# Example on dictionary comprehension

l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

# Create a dictionary consisting of element and length of each element from the above list

d = {i : len(i) for i in l1}

print(d)

{'automobiles': 11, 'Honda': 5, 'Benz': 4, 'Suzuki': 6, 'Morris Garages': 14}

#### Set Comprehensions

#### Ex . Write a program which takes a word as input from user and returns vowels from the word

In [10]:
word = input("Enter a word : ")
vowels = {i for i in word if i in "aeiou"}
vowels

Enter a word : aeroplane

{'a', 'e', 'o'}

# Comprehension
- We can create list,set,Dictionaries in single line

In [1]:
a = []
for i in range(10):
    a.append(i**2)
    
a

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

## List comprehension

In [4]:
a = [i**2 for i in range(10)]
a

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

## Set Comprehension

In [7]:
# getting i^2 of even numbers
a = {i**2 for i in range(10) if i%2==0}
a

{0, 4, 16, 36, 64}

## Dict comprehension

In [9]:
a = {str(i):i**2 for i in range(10)}
a

{'0': 0,
 '1': 1,
 '2': 4,
 '3': 9,
 '4': 16,
 '5': 25,
 '6': 36,
 '7': 49,
 '8': 64,
 '9': 81}

# Functions

#### Ex. Write a function which takes a value as a parameter and returns its factorial

In [23]:
def factorial(n):
    
    fact = 1
    
    for i in range(1, n+1):
        fact *= i
    
    return fact

factorial(5)

120

#### Default Argument

In [1]:
def func(name, age = 35):
    print("name : ", name)
    print("age : ", age)

In [2]:
func("Jane", 25)

name :  Jane
age :  25

In [3]:
func("Jane")

name :  Jane
age :  35

In [16]:
def func(name, age = 35, city = "Mumbai"):
    print("name : ", name)
    print("age : ", age)
    print("city : ", city)
    
func("Jane", city = "Banglore")

name :  Jane
age :  35
city :  Banglore

In [ ]:
def var_func(*args):
    print(args)
    
var_func(1,3,"abc")

#### Function in Function

In [18]:

def outter():
    x = 'loacal'
    
    def inner():
        print(x)
        
    inner() # calling inner function in outter function
    print(x)
    
outter()

df%hist
loacal

## Local and Global Variables

In [7]:
x = 10 # Global variable
def show():
    x = 5 # local variable
    print(x) # prints local variable
    
show()

5

In [15]:
x = 10 # Global variable
def show():
    global x # declared global in fun variable
    y = 'local variable'
    print(x,y)
    
show()

10 local variable

In [23]:
x = 'x'
y = 'y'
def outter():
    x = 10
    
    def inner():
        nonlocal x # checks the nonlocal which is not global variable
        global y # checks the global variable which is out of the function
        print(x)
        print(y)
        
    inner() # calling inner function in outter function
    print(x)
    
outter()

10
y
10

## Argument values
- 1 Default arguments
- 2 Keyword arguments

### Default Arguments

In [2]:
def show(a,b):
    print(a,b)
    
show(1,8)

1 8

### Keyword arguments
- If you have some finctions with many parameters and you want to specify only some of them, then you can give values for such parameters by naming them - this is called keyword arguments
- We use the name(keyword) instead of the postion (which we have been using all along) to specify the arguments to the function.

In [4]:
# in this arguments there are already predefined arguments in functions
def show(a,b,c=4,d=99):
    print(a,b,c,d)
    
show(1,8)

1 8 4 99

In [6]:
# we can explicetly give a value to the keyword arguments like this eg.
def show(a,b,c,d='jaswanth',e='Yas'):
    print(a,b,c,d,e)
    
show('hi',',how are you','doing',e='and Yaswanth')

hi ,how are you doing jaswanth and Yaswanth

In [11]:
# to give n no.of arguments to the function use '*' in variable in function
# note : '*' is not any pointers in python like C
def show(*agrs):
    print(agrs)
    
show('Hi',146,234,True)

('Hi', 146, 234, True)

In [13]:
# combine of defult and keyword arguments
def show(a,b,c, *args, d=10,e='Jaswanth'):
    print(a,b,c)
    print(args)
    print(d,e)
    
show('HI','hello',234,'This','comes','under','*args functions',d=100)

HI hello 234
('This', 'comes', 'under', '*args functions')
100 Jaswanth

In [14]:
# we can also add key:val pair like Dictionaries by using '**<kwargs>' in functions
def show(a,b,*args,d=10,e=20, **dargs):
    print(a,b)
    print(args)
    print(d,e)
    print(dargs)
    
show('hi','Bye','How are you','Jash',e=100, name='Yaswanth',age=20,male=True)

hi Bye
('How are you', 'Jash')
10 100
{'name': 'Yaswanth', 'age': 20, 'male': True}

# Lambda Function

In [18]:
# Write a lambda funtion to check a number is even or odd

f = lambda x: "even" if x % 2 == 0 else "odd"

f(10)

'even'

In [15]:
# other eg for lambda functions
add = lambda a,b: a+b
add(1,23)

24

#### Ex. Write a lambda function to perform addition of two numbers

In [24]:
f = lambda x, y : x + y

f(2,5)

7

## map - filter - reduce

In [20]:
countries = ["India", "Japan", "Italy", "France"]

#### map the list to obtained the names of countries in upper case

In [24]:
list(map(lambda x : x.upper(), countries))

['INDIA', 'JAPAN', 'ITALY', 'FRANCE']

#### filter the countries names starting with "I"

In [25]:
list(filter(lambda x : x.startswith("I"), countries))

['India', 'Italy']

#### reduce the list to concatante the countries names into a single string variable seperated by " "

In [27]:
from functools import reduce

reduce(lambda x, y : x + " " + y, countries)

'India Japan Italy France'

#### Some more examples on map - filter - reduce

In [34]:
L1 = [2,4,5]
print(map(lambda x: x**2, L1))
print(list(map(lambda x: x**2, L1)))

<map object at 0x000002200C31F5C0>
[4, 16, 25]

#### Defining a function and using it in map

In [33]:
L1 = [2,4,5]
def squareit(n):
    return n**2

print(list(map(squareit, L1)))

[4, 16, 25]

#### Filter function to return the multiples of 3

In [35]:
my_list = [3,4,5,6,7,8,9]

divby3 = lambda x:  x % 3 == 0

div = filter(divby3, my_list)
print(list(div))

[3, 6, 9]

#### Ex. Write a python program to count the students above age 18

In [41]:
students_data = {1:['Sam', 15] , 2:['Sharma',18], 3:['Saina', 16], 4:['Saif',19], 5:['Varun',20]}

len(list(filter(lambda x : x[1] > 18, students_data.values())))

2

#### Reduce to return product of elements

In [31]:
from functools import reduce

q  = reduce(lambda x, y: x*y, range(1,4))

print(q)

6

# i. Creating Classes and Objects

## Defining a class</h2>

- length and breadth as attributes
- __init__() - constructor of class
- self parameter - refers to the newly created instance of the class.  
- attributes length and breadth are associated with self-keyword to identify them as instance variables

In [10]:
class Rectangle :
    def __init__(self):
        self.length = 10
        self.breadth = 5

- create the object by calling name of the class followed by parenthesis. 
- print the values using dot operator

In [3]:
rect = Rectangle()
print("Length = ",rect.length, "\nBreadth = " ,rect.breadth)

Length =  10
Breadth =  5

## Parametrised Constructor</h2>

- parametrised constructor - dynamically assign the attribute values during object creation

In [ ]:
class Rectangle :
    def __init__(self, length, breadth):
        self.length = length
        self.breadth = breadth
        
rect = Rectangle(10, 5)
print("Length = ",rect.length, "\nBreadth = " ,rect.breadth)

# ii. Class Variable and Instance variables

In [2]:
class Circle :
    pi = 3.14
    def __init__(self, radius):
        self.radius = radius

In [3]:
circle_1 = Circle(5)
print("Radius = {} \t pi = {}".format(circle_1.radius,circle_1.pi))

circle_2 = Circle(2)
print("Radius = {} \t pi = {}".format(circle_2.radius,circle_2.pi))

Radius = 5 	 pi = 3.14
Radius = 2 	 pi = 3.14

In [4]:
Circle.pi = 3.1436

circle_1 = Circle(5)
print("Radius = {} \t pi = {}".format(circle_1.radius,circle_1.pi))

circle_2 = Circle(2)
print("Radius = {} \t pi = {}".format(circle_2.radius,circle_2.pi))

Radius = 5 	 pi = 3.1436
Radius = 2 	 pi = 3.1436

# iii. Adding a method to class</h1>

- calculate_area() - retutns the product of attributes length and breadth   
- self - identifies its association with the instance

In [9]:
class Rectangle :
    def __init__(self, length, breadth):
        self.length = length
        self.breadth = breadth
        
    def calculate_area(self):
        return self.length * self.breadth
        
rect = Rectangle(10,5)
print("Length = ",rect.length, "\nBreadth = " ,rect.breadth, "\nArea = ", rect.calculate_area())

Length =  10
Breadth =  5
Area =  50

## Significance of self:</h2>

- The attributes length and breadth are associated with an instance.
- Self makes sure that each instance refers to its own copy of attributes

In [11]:
new_rect = Rectangle(15, 8)
print("Length = ",new_rect.length, "\nBreadth = " ,new_rect.breadth, "\nArea = ", new_rect.calculate_area())

Length =  15
Breadth =  8
Area =  120

In [12]:
print("Length = ",rect.length, "\nBreadth = " ,rect.breadth, "\nArea = ", rect.calculate_area())

Length =  10
Breadth =  5
Area =  50

# iv. Class Method and Static Method

In [5]:
class Circle :
    pi = 3.14
    def __init__(self, radius):
        self.radius = radius
        
    # Instance Method   
    def calculate_area(self):
        return Circle.pi * self.radius

    # Class Method - It cannot access - radius
    @classmethod
    def access_pi(cls):
        cls.pi = 3.1436
        
    # Static Method -  It cannot access - pi and radius
    @staticmethod
    def circle_static_method():
        print("This is circle's static method")
        
cir = Circle(5)

In [8]:
print(cir.calculate_area())

15.700000000000001

# v. Inheritance and Overriding

In [19]:
class Shape :
    
    
    def set_color(self, color):
        self.color = color
        
    def calculate_area(self):
        pass
        
    def color_the_shape(self):
        color_price = {"red" : 10, "blue" : 15, "green" : 5}
        return self.calculate_area() * color_price[self.color]

In [20]:
class Circle(Shape) :
    pi = 3.14
    def __init__(self, radius):
        self.radius = radius
        
    def calculate_area(self):
        return Circle.pi * self.radius

In [21]:
c = Circle(5)
c.set_color("red")
print("Circle with radius =",c.radius ,"when colored", c.color,"costs $",c.color_the_shape())

Circle with radius = 5 when colored red costs $ 157.0

In [26]:
class Rectangle(Shape) :
    def __init__(self, length, breadth):
        self.length = length
        self.breadth = breadth
        
     # Overriding user defined method   
    def calculate_area(self):
        return self.length * self.breadth
    
    # Overriding python default method
    def __str__(self):
        return "area of rectangle = " + str(self.calculate_area())

In [24]:
r = Rectangle(5, 10)
r.set_color("blue")
print("Rectangle with length =",r.length ," and breadth = ",r.breadth ,"when colored", r.color,"costs $",r.color_the_shape())

Rectangle with length = 5  and breadth =  10 when colored blue costs $ 750

In [ ]:
print(r)

In [51]:
class A:
    
    def __init__(self):
        self.p = 10
        print("C")
        
    @classmethod
    def stat(cls):
        print(cls, type(cls), cls.p)
        
c = A()

C

In [52]:
c.stat()

AttributeError: type object 'A' has no attribute 'p'

In [42]:
A.stat()

<class '__main__.A'> <class 'type'>

# Dunders or Magic Functions

- 1)create -> __ init__(self) to create
- 2) delete -> __ del__(self) to delete
- 3) string -> __ str__(self) to convert anything to string
- 4) add -> __ add__(self,other) to add any elements
- 5) subtract -> __ sub__(self,other)

In [16]:
class Car:
    def __init__(self,model, mileage): # createing 
        self.model = model
        self.mileage = mileage
    
    def __str__(self): # convert to string format
        return "{} {}".format(self.model), (self.mileage)
    
    def __repr__(self):
        return "{}".format(self.model)
    
    def __eq__(self,other):
        return self.mileage == other.mileage
    
    def __add__(self,other):
        return self.mileage + other.mileage
    
    def add(self,other):
        return self.mileage + other
    
c1 = Car('a',2)
c2 = Car('b',6)
print("c1+c2 :",c1+c2)

c1+c2 : 8

In [17]:
c1.add(5)

7

## Creating an cout like c++
- As in c++, cout << "string" should give us the sting as output, lets make that workout in python by leftshift operator by class , help of Dunder is as follows : __ lshift__(self,other)

In [18]:
class Ostream:
    def __lshift__(self, other):
        print(other,end=" ")
        return self
    
cout = Ostream()

cout << "Hi"

Hi