# DATA PREPARATION FOR MACHINE LEARNING MODELS
Using Absenteeism at work An UCI dataset

## Programming with Python

### Import Dataset from Kaggle

Install Kaggle for upload dataset into google colab

In [1]:
!pip install -q kaggle

Upload Kaggle API key

In [2]:
from google.colab import files
files.upload()

ModuleNotFoundError: No module named 'google'

In [3]:
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json

cp: kaggle.json: No such file or directory
chmod: /Users/jaswanth/.kaggle/kaggle.json: No such file or directory

Download dataset from Kaggle

In [4]:
! kaggle datasets download -d 'loganalive/absenteeism-at-work-an-uci-dataset/download'

Traceback (most recent call last):
  File "/Users/jaswanth/jupyter/bin/kaggle", line 33, in <module>
    sys.exit(load_entry_point('kaggle==1.5.12', 'console_scripts', 'kaggle')())
  File "/Users/jaswanth/jupyter/bin/kaggle", line 25, in importlib_load_entry_point
    return next(matches).load()
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/importlib/metadata/__init__.py", line 171, in load
    module = import_module(match.group('module'))
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/importlib/__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "<frozen importlib._bootstrap>", line 1050, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1027, in _find_and_load
  File "<frozen importlib._bootstrap>", line 992, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 241, in _call_with_frames_removed
  File "<frozen importlib._bootstrap>", line 1050, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1027, in _find_and_load
  File "<frozen importlib._bootstrap>", line 1006, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 688, in _load_unlocked
  File "<frozen importlib._bootstrap_external>", line 883, in exec_module
  File "<frozen importlib._bootstrap>", line 241, in _call_with_frames_removed
  File "/Users/jaswanth/jupyter/lib/python3.10/site-packages/kaggle/__init__.py", line 23, in <module>
    api.authenticate()
  File "/Users/jaswanth/jupyter/lib/python3.10/site-packages/kaggle/api/kaggle_api_extended.py", line 164, in authenticate
    raise IOError('Could not find {}. Make sure it\'s located in'
OSError: Could not find kaggle.json. Make sure it's located in /Users/jaswanth/.kaggle. Or use the environment method.

In [5]:
!ls

1_Data_Preparation.ipynb           README.md
2_Exploratory_Data_Analysis.ipynb  dataset
3_Machine_Learning_Modelling.ipynb

In [6]:
!unzip -q absenteeism-at-work-an-uci-dataset.zip

In [7]:
!ls

absenteeism-at-work-an-uci-dataset.zip	kaggle.json
Absenteeism_at_work.csv			sample_data

### Import Library

In [6]:
import pandas as pd
import numpy as np

In [10]:
absent = pd.read_csv("/Users/jaswanth/JN/ML Hackathon/1 Q/dataset/Absenteeism_at_work_dataset.csv")
absent.head(20)

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,11,26,7,3,1,289,36,13,33,"239,554",...,0,1,2,1,0,1,90,172,30,4
1,36,0,7,3,1,118,13,18,50,"239,554",...,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,38,"239,554",...,0,1,0,1,0,0,89,170,31,2
3,7,7,7,5,1,279,5,14,39,"239,554",...,0,1,2,1,1,0,68,168,24,4
4,11,23,7,5,1,289,36,13,33,"239,554",...,0,1,2,1,0,1,90,172,30,2
5,3,23,7,6,1,179,51,18,38,"239,554",...,0,1,0,1,0,0,89,170,31,2
6,10,22,7,6,1,361,52,3,28,"239,554",...,0,1,1,1,0,4,80,172,27,8
7,20,23,7,6,1,260,50,11,36,"239,554",...,0,1,4,1,0,0,65,168,23,4
8,14,19,7,2,1,155,12,14,34,"239,554",...,0,1,2,1,0,0,95,196,25,40
9,1,22,7,2,1,235,11,14,37,"239,554",...,0,3,1,0,0,1,88,172,29,8
10,20,1,7,2,1,260,50,11,36,"239,554",...,0,1,4,1,0,0,65,168,23,8
11,20,1,7,3,1,260,50,11,36,"239,554",...,0,1,4,1,0,0,65,168,23,8
12,20,11,7,4,1,260,50,11,36,"239,554",...,0,1,4,1,0,0,65,168,23,8
13,3,11,7,4,1,179,51,18,38,"239,554",...,0,1,0,1,0,0,89,170,31,1
14,3,23,7,4,1,179,51,18,38,"239,554",...,0,1,0,1,0,0,89,170,31,4
15,24,14,7,6,1,246,25,16,41,"239,554",...,0,1,0,1,0,0,67,170,23,8
16,3,23,7,6,1,179,51,18,38,"239,554",...,0,1,0,1,0,0,89,170,31,2
17,3,21,7,2,1,179,51,18,38,"239,554",...,0,1,0,1,0,0,89,170,31,8
18,6,11,7,5,1,189,29,13,33,"239,554",...,0,1,2,0,0,2,69,167,25,8
19,33,23,8,4,1,248,25,14,47,"205,917",...,0,1,2,0,0,1,86,165,32,2

In [11]:
absent['Work load Average/day ']

0      239,554
1      239,554
2      239,554
3      239,554
4      239,554
        ...
735    264,604
736    264,604
737    271,219
738    271,219
739    271,219
Name: Work load Average/day , Length: 740, dtype: object

Dimensions of data

In [12]:
shape = absent.shape
print (shape)

(740, 21)

Data type for each attribute

In [13]:
types = absent.dtypes
print(types)

ID                                  int64
Reason for absence                  int64
Month of absence                    int64
Day of the week                     int64
Seasons                             int64
Transportation expense              int64
Distance from Residence to Work     int64
Service time                        int64
Age                                 int64
Work load Average/day              object
Hit target                          int64
Disciplinary failure                int64
Education                           int64
Son                                 int64
Social drinker                      int64
Social smoker                       int64
Pet                                 int64
Weight                              int64
Height                              int64
Body mass index                     int64
Absenteeism time in hours           int64
dtype: object

In [14]:
absent

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,11,26,7,3,1,289,36,13,33,"239,554",...,0,1,2,1,0,1,90,172,30,4
1,36,0,7,3,1,118,13,18,50,"239,554",...,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,38,"239,554",...,0,1,0,1,0,0,89,170,31,2
3,7,7,7,5,1,279,5,14,39,"239,554",...,0,1,2,1,1,0,68,168,24,4
4,11,23,7,5,1,289,36,13,33,"239,554",...,0,1,2,1,0,1,90,172,30,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,11,14,7,3,1,289,36,13,33,"264,604",...,0,1,2,1,0,1,90,172,30,8
736,1,11,7,3,1,235,11,14,37,"264,604",...,0,3,1,0,0,1,88,172,29,4
737,4,0,0,3,1,118,14,13,40,"271,219",...,0,1,1,1,0,8,98,170,34,0
738,8,0,0,4,2,231,35,14,39,"271,219",...,0,1,2,1,0,2,100,170,35,0
739,35,0,0,6,3,179,45,14,53,"271,219",...,0,1,1,0,0,1,77,175,25,0

In [15]:
# Null values in dataset
absent_data = pd.DataFrame(absent.isnull().sum())
absent_data = absent_data.rename(columns={0:"Absent_sum"})
absent_data["Absent Percent"] = (absent_data["Absent_sum"]/len(absent))*100
absent_data

                                 Absent_sum  Absent Percent
ID                                        0             0.0
Reason for absence                        0             0.0
Month of absence                          0             0.0
Day of the week                           0             0.0
Seasons                                   0             0.0
Transportation expense                    0             0.0
Distance from Residence to Work           0             0.0
Service time                              0             0.0
Age                                       0             0.0
Work load Average/day                     0             0.0
Hit target                                0             0.0
Disciplinary failure                      0             0.0
Education                                 0             0.0
Son                                       0             0.0
Social drinker                            0             0.0
Social smoker                             0             0.0
Pet                                       0             0.0
Weight                                    0             0.0
Height                                    0             0.0
Body mass index                           0             0.0
Absenteeism time in hours                 0             0.0

In [16]:
absent.describe()

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Hit target,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
count,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000
mean,18.017568,19.216216,6.324324,3.914865,2.544595,221.329730,29.631081,12.554054,36.450000,94.587838,0.054054,1.291892,1.018919,0.567568,0.072973,0.745946,79.035135,172.114865,26.677027,6.924324
std,11.021247,8.433406,3.436287,1.421675,1.111831,66.952223,14.836788,4.384873,6.478772,3.779313,0.226277,0.673238,1.098489,0.495749,0.260268,1.318258,12.883211,6.034995,4.285452,13.330998
min,1.000000,0.000000,0.000000,2.000000,1.000000,118.000000,5.000000,1.000000,27.000000,81.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,56.000000,163.000000,19.000000,0.000000
25%,9.000000,13.000000,3.000000,3.000000,2.000000,179.000000,16.000000,9.000000,31.000000,93.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,69.000000,169.000000,24.000000,2.000000
50%,18.000000,23.000000,6.000000,4.000000,3.000000,225.000000,26.000000,13.000000,37.000000,95.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,83.000000,170.000000,25.000000,3.000000
75%,28.000000,26.000000,9.000000,5.000000,4.000000,260.000000,50.000000,16.000000,40.000000,97.000000,0.000000,1.000000,2.000000,1.000000,0.000000,1.000000,89.000000,172.000000,31.000000,8.000000
max,36.000000,28.000000,12.000000,6.000000,4.000000,388.000000,52.000000,29.000000,58.000000,100.000000,1.000000,4.000000,4.000000,1.000000,1.000000,8.000000,108.000000,196.000000,38.000000,120.000000

In [19]:
pd.set_option('display.width', 100)
pd.set_option('precision',3)
description = absent.describe()
print(description)

OptionError: Pattern matched multiple keys

In [18]:
class_counts = absent.groupby('Absenteeism time in hours').size()
print(class_counts)

Absenteeism time in hours
0       44
1       88
2      157
3      112
4       60
5        7
7        1
8      208
16      19
24      16
32       6
40       7
48       1
56       2
64       3
80       3
104      1
112      2
120      3
dtype: int64

In [20]:
correlations = absent.corr(method = 'pearson')
print(correlations)

                                       ID  Reason for absence  Month of absence  Day of the week  \
ID                               1.000000           -0.064245         -0.000043         0.034468
Reason for absence              -0.064245            1.000000         -0.083858         0.116319
Month of absence                -0.000043           -0.083858          1.000000        -0.006528
Day of the week                  0.034468            0.116319         -0.006528         1.000000
Seasons                          0.098495           -0.117925          0.407770         0.046493
Transportation expense          -0.224163           -0.119381          0.137525         0.033988
Distance from Residence to Work -0.486160            0.161831         -0.003887         0.118026
Service time                    -0.272704            0.048425         -0.062862         0.021252
Age                              0.040899           -0.078608         -0.001520         0.004459
Hit target                       0.018789            0.088943         -0.460453         0.030986
Disciplinary failure             0.004502           -0.545054          0.107946        -0.015120
Education                       -0.036254           -0.047357         -0.066128         0.058516
Son                              0.002767           -0.055364          0.079031         0.098079
Social drinker                  -0.451338            0.065441          0.056226         0.041772
Social smoker                   -0.010826           -0.115702         -0.038603         0.013156
Pet                             -0.041418           -0.055911          0.047787        -0.028885
Weight                          -0.254222           -0.000269          0.023278        -0.128980
Height                           0.076363           -0.079267         -0.068942        -0.082133
Body mass index                 -0.306924            0.037205          0.051046        -0.103578
Absenteeism time in hours       -0.017997           -0.173116          0.024345        -0.124361

                                  Seasons  Transportation expense  \
ID                               0.098495               -0.224163
Reason for absence              -0.117925               -0.119381
Month of absence                 0.407770                0.137525
Day of the week                  0.046493                0.033988
Seasons                          1.000000                0.036995
Transportation expense           0.036995                1.000000
Distance from Residence to Work -0.063108                0.262183
Service time                    -0.010904               -0.349887
Age                             -0.012089               -0.227542
Hit target                      -0.061154               -0.080193
Disciplinary failure             0.151766                0.109222
Education                       -0.002951               -0.055065
Son                              0.046950                0.383001
Social drinker                  -0.045982                0.145117
Social smoker                   -0.048671                0.044356
Pet                              0.012356                0.400080
Weight                          -0.026278               -0.207435
Height                          -0.033737               -0.194496
Body mass index                 -0.011031               -0.136517
Absenteeism time in hours       -0.005615                0.027585

                                 Distance from Residence to Work  Service time       Age  \
ID                                                     -0.486160     -0.272704  0.040899
Reason for absence                                      0.161831      0.048425 -0.078608
Month of absence                                       -0.003887     -0.062862 -0.001520
Day of the week                                         0.118026      0.021252  0.004459
Seasons                                                -0.063108     -0.010904 -0.012089
Transportation expense                                  0.262183     -0.349887 -0.227542
Distance from Residence to Work                         1.000000      0.131730 -0.145886
Service time                                            0.131730      1.000000  0.670979
Age                                                    -0.145886      0.670979  1.000000
Hit target                                             -0.013865     -0.007840 -0.039224
Disciplinary failure                                   -0.056527     -0.000221  0.104304
Education                                              -0.259605     -0.213000 -0.221882
Son                                                     0.054230     -0.047128  0.056984
Social drinker                                          0.452196      0.353141  0.213183
Social smoker                                          -0.075369      0.072424  0.121738
Pet                                                     0.205941     -0.440301 -0.231226
Weight                                                 -0.047859      0.455975  0.418730
Height                                                 -0.353372     -0.053135 -0.062997
Body mass index                                         0.113772      0.499718  0.470688
Absenteeism time in hours                              -0.088363      0.019029  0.065760

                                 Hit target  Disciplinary failure  Education       Son  \
ID                                 0.018789              0.004502  -0.036254  0.002767
Reason for absence                 0.088943             -0.545054  -0.047357 -0.055364
Month of absence                  -0.460453              0.107946  -0.066128  0.079031
Day of the week                    0.030986             -0.015120   0.058516  0.098079
Seasons                           -0.061154              0.151766  -0.002951  0.046950
Transportation expense            -0.080193              0.109222  -0.055065  0.383001
Distance from Residence to Work   -0.013865             -0.056527  -0.259605  0.054230
Service time                      -0.007840             -0.000221  -0.213000 -0.047128
Age                               -0.039224              0.104304  -0.221882  0.056984
Hit target                         1.000000             -0.147971   0.101062 -0.014091
Disciplinary failure              -0.147971              1.000000  -0.059298  0.072096
Education                          0.101062             -0.059298   1.000000 -0.188622
Son                               -0.014091              0.072096  -0.188622  1.000000
Social drinker                    -0.102480              0.051838  -0.420013  0.206376
Social smoker                      0.051254              0.116748   0.032727  0.156088
Pet                                0.007201              0.018881  -0.053554  0.108917
Weight                            -0.044947              0.072225  -0.300574 -0.139552
Height                             0.093267             -0.010498   0.100977 -0.014208
Body mass index                   -0.088939              0.079428  -0.366884 -0.144150
Absenteeism time in hours          0.026695             -0.124248  -0.046235  0.113756

                                 Social drinker  Social smoker       Pet    Weight    Height  \
ID                                    -0.451338      -0.010826 -0.041418 -0.254222  0.076363
Reason for absence                     0.065441      -0.115702 -0.055911 -0.000269 -0.079267
Month of absence                       0.056226      -0.038603  0.047787  0.023278 -0.068942
Day of the week                        0.041772       0.013156 -0.028885 -0.128980 -0.082133
Seasons                               -0.045982      -0.048671  0.012356 -0.026278 -0.033737
Transportation expense                 0.145117       0.044356  0.400080 -0.207435 -0.194496
Distance from Residence to Work        0.452196      -0.075369  0.205941 -0.047859 -0.353372
Service time                           0.353141       0.072424 -0.440301  0.455975 -0.053135
Age                                    0.213183       0.121738 -0.231226  0.418730 -0.062997
Hit target                            -0.102480       0.051254  0.007201 -0.044947  0.093267
Disciplinary failure                   0.051838       0.116748  0.018881  0.072225 -0.010498
Education                             -0.420013       0.032727 -0.053554 -0.300574  0.100977
Son                                    0.206376       0.156088  0.108917 -0.139552 -0.014208
Social drinker                         1.000000      -0.111678 -0.122780  0.378664  0.169951
Social smoker                         -0.111678       1.000000  0.105379 -0.198511  0.003271
Pet                                   -0.122780       0.105379  1.000000 -0.103770 -0.103143
Weight                                 0.378664      -0.198511 -0.103770  1.000000  0.306802
Height                                 0.169951       0.003271 -0.103143  0.306802  1.000000
Body mass index                        0.323978      -0.196006 -0.076103  0.904117 -0.121049
Absenteeism time in hours              0.065067      -0.008936 -0.028277  0.015789  0.144420

                                 Body mass index  Absenteeism time in hours
ID                                     -0.306924                  -0.017997
Reason for absence                      0.037205                  -0.173116
Month of absence                        0.051046                   0.024345
Day of the week                        -0.103578                  -0.124361
Seasons                                -0.011031                  -0.005615
Transportation expense                 -0.136517                   0.027585
Distance from Residence to Work         0.113772                  -0.088363
Service time                            0.499718                   0.019029
Age                                     0.470688                   0.065760
Hit target                             -0.088939                   0.026695
Disciplinary failure                    0.079428                  -0.124248
Education                              -0.366884                  -0.046235
Son                                    -0.144150                   0.113756
Social drinker                          0.323978                   0.065067
Social smoker                          -0.196006                  -0.008936
Pet                                    -0.076103                  -0.028277
Weight                                  0.904117                   0.015789
Height                                 -0.121049                   0.144420
Body mass index                         1.000000                  -0.049719
Absenteeism time in hours              -0.049719                   1.000000

The most common method for calculating correlation is Pearsonâ€™s Correlation Coefficient, that assumes a normal distribution of the attributes involved. A correlation of -1 or 1 shows a full negative or positive correlation respectively. Whereas a value of 0 shows no correlation at all.

The matrix lists all attributes across the top and down the side, to give correlation between all pairs of attributes (twice, because the matrix is symmetrical). There can show the diagonal line through the matrix from the top left to bottom right corners of the matrix shows perfect correlation of each attribute with itself.

In [21]:
skew = absent.skew()
print(skew)

ID                                 0.016606
Reason for absence                -0.915312
Month of absence                   0.069369
Day of the week                    0.102440
Seasons                           -0.038532
Transportation expense             0.396189
Distance from Residence to Work    0.312083
Service time                      -0.004720
Age                                0.697703
Hit target                        -1.261708
Disciplinary failure               3.952270
Education                          2.108953
Son                                1.086465
Social drinker                    -0.273327
Social smoker                      3.290333
Pet                                2.735715
Weight                             0.017001
Height                             2.566060
Body mass index                    0.305046
Absenteeism time in hours          5.720728
dtype: float64

/var/folders/99/bpjbh7v565j2_dj9h91d6tmr0000gn/T/ipykernel_1802/369177443.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  skew = absent.skew()

The skew result show a positive (right) or negative (left) skew. 
Values closer to zeroshow less skew.

In [22]:
def unique(list1): 
    list_set = set(list1)  
    unique_list = (list(list_set)) 
    for x in unique_list: 
        print (x)

In [23]:
abtag=absent['Absenteeism time in hours']
unique(abtag)

0
1
2
3
4
5
7
8
16
24
32
40
48
56
64
80
104
112
120

In [24]:
abtag2=abtag[absent['Absenteeism time in hours']]
unique(abtag2)

0
1
2
3
4
40
8
56

In [25]:
# add categorical target column as per project requirement
absent['Absenteeism categories'] = np.where((absent['Absenteeism time in hours'] >= 0)&(absent['Absenteeism time in hours'] <= 20), "Group 0", 
                                              np.where((absent['Absenteeism time in hours'] >= 21)&(absent['Absenteeism time in hours'] <= 40), "Group 1",
                                                      np.where((absent['Absenteeism time in hours'] >= 41)&(absent['Absenteeism time in hours'] <= 60), "Group 2",
                                                              np.where((absent['Absenteeism time in hours'] >= 61)&(absent['Absenteeism time in hours'] <= 80), "Group 3",
                                                                      np.where((absent['Absenteeism time in hours'] >= 81)&(absent['Absenteeism time in hours'] <= 100), "Group 4",
                                                                                np.where((absent['Absenteeism time in hours'] >= 101)&(absent['Absenteeism time in hours'] <= 120),"Group 5",0))
                                                                              ))))

In [26]:
absent.head(20)

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours,Absenteeism categories
0,11,26,7,3,1,289,36,13,33,"239,554",...,1,2,1,0,1,90,172,30,4,Group 0
1,36,0,7,3,1,118,13,18,50,"239,554",...,1,1,1,0,0,98,178,31,0,Group 0
2,3,23,7,4,1,179,51,18,38,"239,554",...,1,0,1,0,0,89,170,31,2,Group 0
3,7,7,7,5,1,279,5,14,39,"239,554",...,1,2,1,1,0,68,168,24,4,Group 0
4,11,23,7,5,1,289,36,13,33,"239,554",...,1,2,1,0,1,90,172,30,2,Group 0
5,3,23,7,6,1,179,51,18,38,"239,554",...,1,0,1,0,0,89,170,31,2,Group 0
6,10,22,7,6,1,361,52,3,28,"239,554",...,1,1,1,0,4,80,172,27,8,Group 0
7,20,23,7,6,1,260,50,11,36,"239,554",...,1,4,1,0,0,65,168,23,4,Group 0
8,14,19,7,2,1,155,12,14,34,"239,554",...,1,2,1,0,0,95,196,25,40,Group 1
9,1,22,7,2,1,235,11,14,37,"239,554",...,3,1,0,0,1,88,172,29,8,Group 0
10,20,1,7,2,1,260,50,11,36,"239,554",...,1,4,1,0,0,65,168,23,8,Group 0
11,20,1,7,3,1,260,50,11,36,"239,554",...,1,4,1,0,0,65,168,23,8,Group 0
12,20,11,7,4,1,260,50,11,36,"239,554",...,1,4,1,0,0,65,168,23,8,Group 0
13,3,11,7,4,1,179,51,18,38,"239,554",...,1,0,1,0,0,89,170,31,1,Group 0
14,3,23,7,4,1,179,51,18,38,"239,554",...,1,0,1,0,0,89,170,31,4,Group 0
15,24,14,7,6,1,246,25,16,41,"239,554",...,1,0,1,0,0,67,170,23,8,Group 0
16,3,23,7,6,1,179,51,18,38,"239,554",...,1,0,1,0,0,89,170,31,2,Group 0
17,3,21,7,2,1,179,51,18,38,"239,554",...,1,0,1,0,0,89,170,31,8,Group 0
18,6,11,7,5,1,189,29,13,33,"239,554",...,1,2,0,0,2,69,167,25,8,Group 0
19,33,23,8,4,1,248,25,14,47,"205,917",...,1,2,0,0,1,86,165,32,2,Group 0

In [27]:
absent['Absenteeism categories'].tail()

735    Group 0
736    Group 0
737    Group 0
738    Group 0
739    Group 0
Name: Absenteeism categories, dtype: object

Formatting to proper data type

In [28]:
absent['followUp_req'] = np.where(absent['Reason for absence']<= 21,1, 0)

absent['Reason for absence'] = absent['Reason for absence'].astype('category')
absent['Month of absence'] = absent['Month of absence'].astype('category')
absent['Day of the week'] = absent['Day of the week'].astype('category')
absent['Seasons'] = absent['Seasons'].astype('category')
absent['Disciplinary failure'] = absent['Disciplinary failure'].astype('category')
absent['Education'] = absent['Education'].astype('category')
absent['Social drinker'] = absent['Social drinker'].astype('category')
absent['Social smoker'] = absent['Social smoker'].astype('category')
absent['Pet'] = absent['Pet'].astype('category')
absent['followUp_req'] = absent['followUp_req'].astype('category')
absent['Absenteeism categories'] = absent['Absenteeism categories'].astype('category')
absent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 23 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ID                               740 non-null    int64
 1   Reason for absence               740 non-null    category
 2   Month of absence                 740 non-null    category
 3   Day of the week                  740 non-null    category
 4   Seasons                          740 non-null    category
 5   Transportation expense           740 non-null    int64
 6   Distance from Residence to Work  740 non-null    int64
 7   Service time                     740 non-null    int64
 8   Age                              740 non-null    int64
 9   Work load Average/day            740 non-null    object
 10  Hit target                       740 non-null    int64
 11  Disciplinary failure             740 non-null    category
 12  Education                        740 non-null    category
 13  Son                              740 non-null    int64
 14  Social drinker                   740 non-null    category
 15  Social smoker                    740 non-null    category
 16  Pet                              740 non-null    category
 17  Weight                           740 non-null    int64
 18  Height                           740 non-null    int64
 19  Body mass index                  740 non-null    int64
 20  Absenteeism time in hours        740 non-null    int64
 21  Absenteeism categories           740 non-null    category
 22  followUp_req                     740 non-null    category
dtypes: category(11), int64(11), object(1)
memory usage: 80.9+ KB

In [29]:
# store two datasets, one for continous and other categorical
dataset_continuous = absent.drop('Absenteeism categories', axis=1)
dataset_categorical = absent.drop('Absenteeism time in hours',axis=1)

print(dataset_continuous.shape)
print(dataset_categorical.shape)

(740, 22)
(740, 22)

In [30]:
# write the taining data to file

dataset_continuous.to_csv('cleanDataset_continuousTarget.csv',index=False)
dataset_categorical.to_csv('cleanDataset_categoricalTarget.csv',index=False)

In [32]:
# get the test dataset
test_path = "/Users/jaswanth/JN/ML Hackathon/1 Q/dataset/Absenteeism_at_work_dataset.csv"
data_test = pd.read_csv(test_path, decimal=",")

In [33]:
# preprocess the test dataset
# adding new column named 'followUp_req' based on whether reason for absence required follow up or not
data_test['followUp_req'] = np.where(data_test['Reason for absence'] <= 21, 1, 0)

# add categorical target column as per project requirement

data_test['Absenteeism categories'] = np.where(data_test['Absenteeism time in hours'] == 0, "Group 0", 
                                              np.where(data_test['Absenteeism time in hours'] == 1, "Group 1",
                                                      np.where(data_test['Absenteeism time in hours'] == 2, "Group 2",
                                                              np.where(data_test['Absenteeism time in hours'] == 3, "Group 3",
                                                                      np.where((data_test['Absenteeism time in hours'] >= 4)&(data_test['Absenteeism time in hours'] <= 7), "Group 4",
                                                                               np.where(data_test['Absenteeism time in hours'] == 8, "Group 5",
                                                                                       np.where(data_test['Absenteeism time in hours'] >= 9, "Group 6",0))
                                                                              )))))

data_test['Reason for absence'] = data_test['Reason for absence'].astype('category').cat.codes
data_test['Month of absence'] = data_test['Month of absence'].astype('category').cat.codes
data_test['Day of the week'] = data_test['Day of the week'].astype('category').cat.codes
data_test['Seasons'] = data_test['Seasons'].astype('category').cat.codes
data_test['Disciplinary failure'] = data_test['Disciplinary failure'].astype('category').cat.codes
data_test['Education'] = data_test['Education'].astype('category').cat.codes
data_test['Social drinker'] = data_test['Social drinker'].astype('category').cat.codes
data_test['Social smoker'] = data_test['Social smoker'].astype('category').cat.codes
data_test['Pet'] = data_test['Pet'].astype('category').cat.codes
data_test['followUp_req'] = data_test['followUp_req'].astype('category').cat.codes
data_test['Absenteeism categories'] = data_test['Absenteeism categories'].astype('category').cat.codes

In [34]:
dataset_test = data_test

print(dataset_test.shape)

(740, 23)

In [35]:
data_test.head()

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours,followUp_req,Absenteeism categories
0,11,25,7,1,0,289,36,13,33,239.554,...,2,1,0,1,90,172,30,4,0,4
1,36,0,7,1,0,118,13,18,50,239.554,...,1,1,0,0,98,178,31,0,1,0
2,3,22,7,2,0,179,51,18,38,239.554,...,0,1,0,0,89,170,31,2,0,2
3,7,7,7,3,0,279,5,14,39,239.554,...,2,1,1,0,68,168,24,4,1,4
4,11,22,7,3,0,289,36,13,33,239.554,...,2,1,0,1,90,172,30,2,0,2

In [36]:
dataset_test.to_csv("/Users/jaswanth/JN/ML Hackathon/1 Q/dataset/cleanDataset_categoricalTarget_test.csv",index=False)